@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Logo';
  src: local('Graphite'),
    url('./assets/fonts/Graphite-DEMO-BF65b429d37a96e.otf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src: local('Helvetical'),
    url('./assets/fonts/HelveticaUltraLight.otf') format('truetype');
}

@font-face {
  font-family: 'LightBold';
  src: local('Helvetical'),
    url('./assets/fonts/HelveticaMediumExtended.otf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: local('Helvetical'),
    url('./assets/fonts/HelveticaNeueLTStd-LtEx.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: local('Helvetical'),
    url('./assets/fonts/HelveticaNeueLTStd-BdEx.ttf') format('truetype');
}

@font-face {
  font-family: 'Test';
  src: local('Helvetical'),
    url('./assets/fonts/HelveticaNeueLTStd-ThEx.ttf') format('truetype');
}

strong {
  color: #666633;
  font-weight: bolder !important;
}

@media screen and (min-width: 768px) {
  strong {
    font-family: Test;
    font-weight: bolder !important;
    letter-spacing: 0.05em;
  }

  .creativitySection p,
  .creativitySection p span {
    color: black;
  }

  .creativitySection p strong span {
    font-family: Test;
    color: #666633;
    font-weight: bolder !important;
    letter-spacing: 0.05em;
  }
}
